<table style="font-family:arial;color:#707372;font-size:11px;font-weight:thin;">
    <tr>
        <td>
            <p style="margin-bottom:12px;">
                <b style="color:#004C97;font-size:12px;">Lynn M. Selich</b><br>
                <span style="font-size:12px;">Director, Business Development</span><br>
                <a style="text-decoration:none;color:#707372" href="mailto:lynn@spinninvest.com">lynn@spinninvest.com</a>
            </p>

            <p style="margin-bottom:12px;">Direct: (949) 396-6705<br>
                Cell: (310) 968-4678</p>

            <p>CA Insurance License #0M10362</p>
            <p style="margin-bottom:12px;">4041 MacArthur Blvd, Ste 475<br>
                Newport Beach, CA 92660</p>

            <a style="text-decoration:none;color:#707372" href="http://spinninvest.com">spinninvest.com</a>
        </td>
    </tr>
    git init
    <tr>
        <td width="249">
            <!-- insert image source here -->
            <img src="" alt="" style="width:155px;height:auto;margin-top:12px;"/>
        </td>
    </tr>
</table>