<div id="articles"><h3>Insanely Cool Articles:</h3>
    <!--Grid row-->
    <div class="row wow fadeIn">
        <!--Grid column: Article 1-->
        <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="/img/2020-web-tools-blue.png" class="img-fluid" alt="">
                <a href="/blog/2020-web-tools-for-beginners.html">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--End of Grid column-->
        <!--Grid column: Article 2-->
        <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="/img/why-servless-development-cover.png" class="img-fluid" alt="">
                <a href="/blog/why-serverless-development.html">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--End of Grid column-->
        <!--Grid column: Article 3-->
        <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="https://s3-us-west-2.amazonaws.com/www.perez.io/img/creating-serverless-pipeline-ad.png" class="img-fluid" alt="">
                <a href="/blog/serverless-pipeline-tutorial.html">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--End of Grid column-->

    </div>
    <!--Grid row--></div>